$primary-color: #1f8b48;
$secondary-color: #64748b;
$white-color: #ffffff;
$text-color: #131312;
$background-color: #f6f6f6;
$border-radius: 40px;
$border-radius-small: 24px;
$border-radius-full: 100%;
$primary-font: 'Tilda Sans', sans-serif;
$secondary-font: 'Gropled', sans-serif;
