@use '../base/vars' as *;
@use '../utils/mixins' as *;

.header {
  padding: 0.5rem 0;
}

.header__body {
  background-color: $white-color;
  @include flex-between;
  border-radius: $border-radius-small;

  &-logo {
    padding: 1rem 1.5rem;
  }
}

.header__menu {
  @include flex-between;
  gap: 2rem;
  padding-right: 2.25rem;
  font-weight: 500;

  &-link {
    padding: 1.7813rem 0;
  }

  &-btn {
    background-color: $primary-color;
    color: $white-color;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
  }

  @include respond(lg) {
    gap: 1.5rem;
  }

  @include respond(md) {
    position: absolute;
    top: 60px;
    right: -1000%;
    width: 50%;
    height: 100%;
    padding: 20px;
    justify-content: flex-start;
    background-color: $white-color;
    flex-direction: column;
    transition: 0.2s;

    &-link {
      padding: 0.625rem 0;
    }

    &.active {
      right: 0;
    }
  }
}

.header__burger {
  @include flex-between;
  flex-direction: column;
  display: none;
  width: 2.25rem;
  height: 2.25rem;
  background-color: $primary-color;
  border-radius: $border-radius-full;
  padding: 0.75rem 0.5rem;

  &-line {
    width: 1.125rem;
    height: 2px;
    background-color: $white-color;
    border-radius: $border-radius-small;
  }

  @include respond(md) {
    display: flex;
  }
}


@include respond(md) {
  body.hidden {
    overflow: hidden;
  }
}
